.room-details{
    margin-top: 39px;
    display: flex;
    margin-left: opx;
    /* flex-wrap: wrap; */
    /* flex-direction: column-reverse; */
    gap: 85px;
}
.home-main{
    
    margin-top: -500px;
    margin-left: 210px;
    
}
.home{
    margin-left: 200px;
    margin-top: 61px;
    margin-left: 251px;
}
.home hr{
    width: 1155px;
    height: 12px;
}
.heading{
    
        display: flex;
        justify-content: space-between;
        width: 515px;
    
}
.rooms-catagory p{
    margin-top: 30px;
}
.rooms-catagory p hr{
    width: 184px;
}
.friday-1{
    padding: 15px;
    width: 68px;
    margin-top: 25px;
    background: lightcyan;
}
.friday p button{
    border: none;
    width: 50px;
    height: 42px;
}
.friday{
    padding: 15px;
    width: 68px;
    margin-top: 25px;
    
}
.friday p button{

}
.#root > div > div.home-main > div.room-details > div:nth-child(3) > p:nth-child(3){
    
}

.row-2{
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.075);
    width: 1283px;
    padding: 32px;
    background: #f8f9fa;
    margin-top: 20px;
    display: flex;
    /* width: 741px; */
    justify-content: space-around;
}
.col-1{
    width: 263px;
}
.col-1 hr{
width: 600px;
}
.col-2 hr{
    width: 350px;
}
.list-1{
    display: flex;
    justify-content: space-between;
}
.list-1 ul{
    list-style: none;
    margin-left: -27px;
}
.btn-ch button{
    border-radius: 59px;
    background: white;
    color: green;
}
.list-1 li button{
    border-radius: 20px;
    margin-top: 8px;
    margin-left: 66px;
    width: 101px;
    margin-bottom: 65px;
    border: 0.5px solid green;
    background: white;
    color: green;
}
 
.guest-list{
    display: flex;
    justify-content: space-between;
    gap: 41px;
    margin-top: 50px;
}
.col-2{
    width: 176px;
}
.Tasks{
    display: flex;
    justify-content: space-around;
}
.Tasks ul{
     list-style: none;
}
.day-list li{
    color: #99a510;
    margin-top: 77px;
    margin-left: 263px;
    margin-bottom: 56px;
    list-style: none;
}
.task-name span{
    margin-right: 24px;
    font-size: 20px;
    margin-left: -22px;
}
.task-name p{

    font-size: 13px;
    margin-left: 29px;
    color: blue;
}
.day-list{
    margin-top: -27px;
    margin-left: -60px;
    width: 465px;
}
.day-list p{

}
.work-detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.work-list p{
    font-size: 16px;
    color: blue;
    margin-left: 66px;
}
.work-list h5 span{
    font-size: 30px;
    margin-right: 15px;
}
.service-list h5 span{
    color: orange;
    font-size: 46px;
    font-size: 39px;
    margin-right: 15px;
}
.service-list p{
    font-size: 16px;
    color: blue;
    margin-left: 66px;   
}
.titel h4{
    margin-left: 60px;
}
.titel-right h4{
    margin-left: 60px;
}
.work-list{
    width: 225px;
    padding: 23px;
}
.work-list h5{
    width: 211px;
}
.work-list h5 span{
    color: red;
    /* margin-top: 62px; */
    padding: -9px;
    font-size: 40px;

}
.r3-container{
    justify-content: space-between;
    display: flex;
    background: #f8f9fa;;
    margin-top: 50px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.075);
}
.left{
    width: 690px;
}
.titel{
    margin-top: 41px;
}
.titel h4 span{
    color: green;
    font-size: 29px;
    margin-right: 20px;
}
.titel hr{
    width: 600px;
}
.servie-time li{
    
    
    margin-bottom: 47px;
}
.service-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-list p{
    font-size: 16px;
    color: blue;
}
.right hr{
    width: 528px;
}
.right{
    margin-top: 49px;
}
.left hr{
    width: 528px;
}
.servie-time li{
    margin-left: 230px;
    font-size: 16px;
    color: red;
    list-style: none;
    margin-right: 980px;
}
.row-4-container{
    margin-top: 32px;
    
    display: flex;
    gap: 47px;
}




.service-list{
    width: 224px;
    padding: 29px;
}
.titel-right h4{
    margin-left: 15px;
}
.titel-right h4 span{
    margin-right: 20px;
    font-size: 28px;
    color: green;
}