.room-details{
    display: flex;
    margin-left: 250px;
    /* flex-wrap: wrap; */
    /* flex-direction: column-reverse; */
    gap: 85px;
}
.home-main{
    margin-top: -500px;
}
.home{
    margin-left: 200px;
    margin-top: 61px;
}
.heading{
    
        display: flex;
        justify-content: space-between;
        width: 515px;
    
}
.rooms-catagory p{
    margin-top: 30px;
}
.friday p button{
    border: none;
    width: 50px;
    height: 42px;
}
.row-2{
    margin-top: 20px;
    display: flex;
    /* width: 741px; */
    justify-content: space-around;
}
.col-1{
    width: 263px;
}
.list-1{
    display: flex;
    justify-content: space-between;
}
.list-1 ul{
    list-style: none;
    margin-left: -27px;
}
.btn-ch button{
    border-radius: 59px;
    background: white;
    color: green;
}
.list-1 li button{
    border-radius: 20px  green;
    margin-top: 8px;
    margin-left: 66px;
    width: 101px;
    margin-bottom: 65px;
    /* border: 0.5px solid green; */
    background: white;
    color: green;
} 
.guest-list{
    display: flex;
    justify-content: space-between;
    gap: 41px;
}
.Tasks{
    display: flex;
    justify-content: space-around;
}
.Tasks ul{
     list-style: none;
}
.day-list li{
    margin-left: 263px;
    margin-bottom: 50px;
    list-style: none;;
}
.task-name span{
    margin-right: 24px;
    font-size: 20px;
    margin-left: -22px;
}
.task-name p{

    font-size: 13px;
    margin-left: 29px;
    color: blue;
}
.day-list{
    margin-right: 990px;
}
.work-detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.work-list p{
    font-size: 16px;
    color: blue;
}
.titel h4{
    margin-left: 60px;
}
.titel-right h4{
    margin-left: 60px;
}
.work-list{
    margin-left: 40px;
}
.servie-time li{
    
    margin-bottom: 47px;
}
.service-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-list p{
    font-size: 16px;
    color: blue;
}
.servie-time li{
    font-size: 16px;
    color: red;
    list-style: none;
    margin-right: 980px;
}
.row-4-container{
    display: flex;
    gap: 20px;
}



.service-list{
    margin-left: 40px;
}
.right{
    margin-top: 35px;
}