.left-panel{
    height: 100%; 
  width: 160px; 
  position: fixed;
  z-index: 1; 
  top: 0; 
  left: 34px;
   
  overflow-x: hidden; 
  padding-top: 20px;
    

    
}
.logo img{
    width: 152px;
    margin-bottom: 50px;
}
.vilaa{
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 19px;
    color: orange;
}
.left-btn{
   position: sticky;
   top: 270px;
   background: rgb(245, 237, 237);
   display: inline;
}
    

.left-btn div button{
    border: none;
    margin-bottom: 10px;
    width: 150px;
    height: 41px;
    cursor: pointer;
}
.left-btn div span{
    margin-left: 18px;
}
.dashboard button{
    background:rgb(38, 69, 38) ;
    color: white;
}
.dashboard{
    margin-top:200px;
}
